<div class="centerForm">
  <form id="form" autocomplete="off">
    <div>

      <div  class="form-control mt-2 mb-3 justify-content-center ">Number of Alpha : <input type ="number"  name="quantity" step="1" value="0"></div>
      <div  class="form-control mt-2 mb-3 justify-content-center">Number of Beta : <input type ="number" name="quantity" step="1" value="0"><br> </div>
      <div  class="form-control mt-2 mb-3 justify-content-center">Enter A1 : <input type ="number" name="quantity" step="1" value="0"><br> </div>
      <div  class="form-control mt-2 mb-3 justify-content-center">Enter A2 : <input type ="number" name="quantity" step="1" value="0"><br> </div>
      <div  class="form-control mt-2 mb-3 justify-content-center">Enter A3 : <input type ="number" name="quantity" step="1" value="0"><br> </div>
      <div  class="form-control mt-2 mb-3 justify-content-center">Enter A4 : <input type ="number" name="quantity" step="1" value="0"><br> </div>
      <div  class="form-control mt-2 mb-3 justify-content-center">Enter A5 : <input type ="number" name="quantity" step="1" value="0"><br> </div>
      <div  class="form-control mt-2 mb-3 justify-content-center">Enter A6 : <input type ="number" name="quantity" step="1" value="0"><br> </div>
      <div  class="form-control mt-2 mb-3 justify-content-center">Enter A7 : <input type ="number" name="quantity" step="1" value="0"><br> </div>


      <button type="button" class="btn btn-primary" routerLink="/secondscreen">Next</button>
    </div>
  </form>
</div>
