<div class="centerForm">
  <form id="form" autocomplete="off">
<div>


  <div  class="form-control mt-2 mb-3 justify-content-center">Enter D1 : <input type ="number" name="quantity" step="1" value="0"><br> </div>
  <div  class="form-control mt-2 mb-3 justify-content-center">Enter D2 : <input type ="number" name="quantity" step="1" value="0"><br> </div>
  <div  class="form-control mt-2 mb-3 justify-content-center">Enter D3 : <input type ="number" name="quantity" step="1" value="0"><br> </div>
  <div  class="form-control mt-2 mb-3 justify-content-center">Enter D4 : <input type ="number" name="quantity" step="1" value="0"><br> </div>
  <div  class="form-control mt-2 mb-3 justify-content-center">Enter D5 : <input type ="number" name="quantity" step="1" value="0"><br> </div>
  <div  class="form-control mt-2 mb-3 justify-content-center">Enter D6 : <input type ="number" name="quantity" step="1" value="0"><br> </div>
  <div  class="form-control mt-2 mb-3 justify-content-center">Enter D7 : <input type ="number" name="quantity" step="1" value="0"><br> </div>
  <div  class="form-control mt-2 mb-3 justify-content-center">Enter D8 : <input type ="number" name="quantity" step="1" value="0"><br> </div>


  <div  class="form-control mt-2 mb-3 justify-content-center">Enter E1 : <input type ="number" name="quantity" step="1" value="0"><br> </div>
  <div  class="form-control mt-2 mb-3 justify-content-center">Enter E2 : <input type ="number" name="quantity" step="1" value="0"><br> </div>
  <div  class="form-control mt-2 mb-3 justify-content-center">Enter E3 : <input type ="number" name="quantity" step="1" value="0"><br> </div>
  <div  class="form-control mt-2 mb-3 justify-content-center">Enter E4 : <input type ="number" name="quantity" step="1" value="0"><br> </div>

  <button type="button" class="btn btn-danger" routerLink="/graphscreen">Make Graph</button>

</div>
  </form>
</div>

