<div class="centerForm">
  <form id="form" autocomplete="off">
<div>


  <div  class="form-control mt-2 mb-3 justify-content-center">Enter C11 : <input type ="number" name="quantity" step="1" value="0"><br> </div>
  <div  class="form-control mt-2 mb-3 justify-content-center">Enter C12 : <input type ="number" name="quantity" step="1" value="0"><br> </div>
  <div  class="form-control mt-2 mb-3 justify-content-center">Enter C13 : <input type ="number" name="quantity" step="1" value="0"><br> </div>
  <div  class="form-control mt-2 mb-3 justify-content-center">Enter C14 : <input type ="number" name="quantity" step="1" value="0"><br> </div>
  <div  class="form-control mt-2 mb-3 justify-content-center">Enter C15 : <input type ="number" name="quantity" step="1" value="0"><br> </div>


  <div  class="form-control mt-2 mb-3 justify-content-center">Enter C21 : <input type ="number" name="quantity" step="1" value="0"><br> </div>
  <div  class="form-control mt-2 mb-3 justify-content-center">Enter C22 : <input type ="number" name="quantity" step="1" value="0"><br> </div>
  <div  class="form-control mt-2 mb-3 justify-content-center">Enter C23 : <input type ="number" name="quantity" step="1" value="0"><br> </div>
  <div  class="form-control mt-2 mb-3 justify-content-center">Enter C24 : <input type ="number" name="quantity" step="1" value="0"><br> </div>
  <div  class="form-control mt-2 mb-3 justify-content-center">Enter C25 : <input type ="number" name="quantity" step="1" value="0"><br> </div>


  <button type="button" class="btn btn-primary" routerLink="/projection_third_screen">Next</button>
</div>
  </form>
</div>
