/* You can add global styles to this file, and also import other style files */
body
{

    background-image: url("car1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0,0,0,0);
    color: white;



}

#form
{
  font-size: 1.5em;
  text-align: center;
  color:white;
  padding: 40px;
  background-color: rgba(0,0,0,0.5);
}


.centerForm
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 35%;

}

input
{

  background: transparent;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid white;
  font-size: 20px;
  color: white;

}


.form-control
{
  background: transparent;
  border-radius: 0px;
  border: 0px;

  padding: 10px;
  color: white;
  font-size: 16px;
}
